body {
    background-color: lightblue;
  }

/* @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  } */

@media only screen and (min-width: 600px){
    body {
      background-color: rgb(67, 226, 67);
    }
  }

  @media only screen and (min-width: 992px){
    body {
      background-color: rgb(216, 216, 41);
    }
  }