/* This website is styled with  a mobile first philosophy */

/* Access : https://www.smashingmagazine.com/2013/07/simple-responsive-images-with-css-background-images/ */

/* All */
body {
    background-color: black;
    margin: 0;
    padding: 0;
    border:0;
  }


/* NAVIGATION and HEADER*/


.navbar_hide{
    display:none;
}

.navbar_button{
    background:black;
    color:white;
    border:none;
    border-block-style: none;
    font-size: 2em;
    position: fixed;
    z-index:1;
}

.navbar_button:focus { 
    outline: none; 
}


.navbar_ul{
    display: flex;
    flex-direction: column;  
    padding: 0%; 
}


.navbar_li_click{
    display: block;
}

.navbar_ul li a{
    color:white;
    display: block;
    width: 100%;
    text-align: center;
    float: left;
    padding: 3px;
    text-decoration: none;
    font-size: 20px;
}


.navbar_ul li  a:active {
    background-color: #f6aa1c;
}

.navbar_ul li  a:hover {
    background-color: #941b0c;
}

.navbar_ul li  a:focus { 
    outline: none; 
}

.myHeader{
    position: relative;
    text-align: center;
    color: white;
    /* max-width: 600px; */
}

.myHeader img {
    width: 100%;
    height: auto;
}

.text_center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: none;
    }


.text_center h1 {
        color:white;
        background: #941b0c;
        font-size: 2em;
        width: 450px;
        opacity:0.7;
        font-family: 'lobster', cursive;
    }

/* CONTENT */

.myContent{
    background:white;
}

.myArticles{
margin-left:5%;
margin-right:5%;
}

.brew_article h3{
    /* color:#220901; */
    color:#941b0c;
}
/* LEARN */

.myReadList{
    margin: 0;
    padding: 0;
    background:#941b0c;
    display: flex;
    justify-content: center;
}

.learn_button{
    display: block;
    color:white;
    width: 200px;
    border: none;
    background: none;

}

.learn_button:hover{
    background-color: black;
}

.learn_button:focus { 
    outline: none; 
}


/* MEDIA QUERIES */

@media only screen and (min-width: 600px){
    body {
      background-color: rgb(67, 226, 67);
    }
  }


@media only screen and (min-width: 992px){
    body {
      background-color: rgb(216, 216, 41);
    }
  }




