/* Comments: 

    [1] Responsive navigation bar styled by following this tutorial:
    https://www.w3schools.com/, 'How TO - Responsive Top Navigation', 2020. [Online]. Available:
    https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_topnav. [Accessed: 01- August- 2020]. */
    /* [2] Pallete from: 
    https://coolors.co/220901-621708-941b0c-bc3908-f6aa1c */

    /* https://webdesign.tutsplus.com/tutorials/how-to-build-a-responsive-navigation-bar-with-flexbox--cms-33535 */


    /* https://www.w3schools.com/howto/howto_js_dropdown.asp */

* {
    background: #220901;
    margin: 0;
    padding: 0;
    border:0;
    text-decoration: none;
    list-style: none;
}

footer a , footer p {
    background: #941b0c;
    width:100%;
    color:black;
    text-align: center;
    min-height:5em;
}

p {
    background:white;
}

.myHeader{
    position: relative;
    text-align: center;
    color: white;
}

.text_center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: none;
    }


.text_center h1 {
        color:#white;
        background: #941b0c;
        font-size: 5em;
        width: 500px;
        opacity:0.8;
    }
/* WRAPPER */

.mywrapper{
    width:1200px;
    background: white;
    margin-left:auto;
    margin-right:auto;
}

/* NAVIGATION */

.navbar{
    overflow: hidden;
}

.navbar_ul{
    display: flex;
    flex-direction: row;
    color: white;    
}

.clicked{
    background: pink;
}

.navbar_ul li a{
    color:white;
    display: block;
    width: 125px;
    text-align: center;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .navbar_ul li a:hover {
    background: #621708;
    color:white;
  }

.navbar_ul li  a:active {
    background-color: #f6aa1c;
  }

.navbar_ul li:last-child{
    margin-left: auto;
}

.navbar_button{
    color:white;
    display: block;
    width: 125px;
    text-align: center;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* HEADER */

.myHeader {
    /* background: #e9c46a; */
    grid-row: 2/4;
    margin: 0%;
}

.myHeader img {
    width: 100%;
    height: auto;
}

.myDisplay{
    background: #f6aa1c;
    min-height: 25em;
    grid-row: 2/4;
}

.carousel{
    background: #941b0c;
    min-height: 15em;
    width: 800px;
    margin-top: 3em;
    margin-left:auto;
    margin-right:auto;
    color:white;
}

.submenu{
    background: #bc3908;
    min-height: 3em;
    width: 600px;
    margin-top: 1em;
    margin-left:auto;
    margin-right:auto;
}

.myReadList{
    min-height: 4em;
    background: white;
    display: flex;
}

.flexbutton{
    min-height: 2em;
    max-height: 2em;
    width: 250px;
    /* background: steelblue; */
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left:auto;
    margin-right:auto;
    /* border-radius: 1.1875rem; */
    text-align: center;
    background: white;
}


.myArticles {
    /* min-height: 20em; */
    background:white;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left:auto;
    margin-right:auto;
    padding: 10px;
}

.myArticles a {
        color: blue;
        background:white;
}

.article{
    background:white;
    min-height: 2em;
    width: 90%;
    margin: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left:auto;
    margin-right:auto;
}

.beer_article h3 {
color: #941b0c;
background:white;
min-height: 2em;
} 


.brew_article h3 {
   color:  #bc3908;
   background:white;
   min-height: 2em;
} 

.myContainer{
    background: honeydew;
    min-height: 20em;
}

.myContainer p {
    background: honeydew;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
}

.myjoke{
border-style: solid;
border-color: teal;
background: teal;
}

.jokecontainer {
    background: honeydew;
    text-align: center;
    vertical-align: middle;
}
.jokecontainer p {
    background: teal;
}
.joke_button{
    width: 200px;
    height: 2em;
    background: #941b0c;
}

.myContent{
    border-style: double;
    border: gold;
    min-height:5em;
    width: 90%;
    background: indianred;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}


form {
    background: bisque;
}

.myBeers{
    background: #f4a261;
    min-height: 20em;
    color: white;
}

.myBeers_container {
    background: teal;
    text-transform: lowercase;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));    
    grid-auto-rows: auto;
    grid-auto-flow: dense;
}

.beer_small {
    background: #370617;
    color: white;
    min-height: 5em;
}

.beer_small img {
    max-width: 200px;
    min-width: 200px;
    max-height: 200px;
    min-height: 200px;
}



.beer_large {
    background: #6a040f;
    color: white;
    grid-row: span 2;
    grid-column: span 2;
    min-height: 10em;
}

.beer_large img{
    max-width: 400px;
    min-width: 400px;
    max-height: 400px;
    min-height: 400px;
}


.beer_vertical {
    background: #d00000;
    color: white;
    grid-row: span 2;
    min-height: 10em;
}

.beer_vertical img {
    max-width: 200px;
    min-width: 200px;
    max-height: 400px;
    min-height: 400px;
}

.beer_horizontal {
    background: #e85d04;
    color: white;
    grid-column: span 2;
    min-height: 5em;
}

.beer_horizontal img {
    max-width: 400px;
    min-width: 400px;
    max-height: 200px;
    min-height: 200px;
}
.myBreweries_container{
    background:white;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;

}


.brewery_left{ 
    background: #335c67;
    grid-column: 1 / 6;
    min-height: 5em;
}

.brewery_right{
    background: #e09f3e;
    grid-column: 2 / 7;
    min-height: 5em;
}

.brewery_block_left{
    background:#9e2a2b;
    grid-column: 1 / 4;
    min-height: 8em;
}

.brewery_block_right{
    background:#720506;
    grid-column: 4 / 7;
    min-height: 8em;
}

.form_label{
    background: white; 
}


/* FORM FROM W3C  */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background: pink;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: white;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
    
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

.noshow{
    display: none;
}

/* https://coolors.co/03071e-370617-6a040f-9d0208-d00000-dc2f02-e85d04-f48c06-faa307-ffba08 */

/* Large screens 1200 px */
@media (max-width: 1200px) {
    /* Desktops 1025px — 1200px*/
    .mywrapper{
        width:1000px;
    }
}

@media (max-width: 1000px) {
        /* Laptop 769px — 1024px */
        .mywrapper{
            width:800px;
        }

        .navbar_ul {
            justify-content: space-around;
        }

}

@media (max-width: 800px) {
        /* Tablet 481px — 768px */
        .mywrapper{
            width:auto;
        }

        /* NAVIGATION */
        /* .navbar_li{
            display: none;
        } */

        .navbar_ul{
            display: none;
        }

        .dropdownIcon {
            display:block; 
        }

        .navbar_ul{
            display: flex;
            flex-direction: column;  
            padding: 0%; 
        }

        .navbar_ul li a{
            width: 100%;
        }



        .myBeers_container {

            grid-template-columns: auto;    
        }
        
        .beer_small {
            grid-column: 1 / 2;
            min-height: 5em;
        }
        
        .beer_large {
            grid-column: 1 / 2;
            min-height: 5em;;
        }
        
        .beer_vertical {
            grid-column: 1 / 2;
            min-height: 5em;
        }
        
        .beer_horizontal {
            grid-column: 1 / 2;
            min-height: 5em;
        }

        .myBreweries_container{
            display: grid;
            grid-template-columns: auto auto;
        }
        
        .brewery_left{ 
            grid-column: 1 / 3;
            min-height: 5em;
        }
        
        .brewery_right{
            grid-column: 1 / 3;
            min-height: 5em;
        }
        
        .brewery_block_left{
            grid-column: 1 / 2;
            min-height: 8em;
        }
        
        .brewery_block_right{
            grid-column: 2 / 3;
            min-height: 8em;
        }

        .carousel{
            width: 100%;
  
        }

        .submenu{
            width: 100%;
        }



}
    
@media (max-width: 500px) {
        /* Mobile 320px — 480px */
        .mywrapper{
            width:auto;
        }

        /* NAVIGATION */
        .navbar_ul{
            display: flex;
            flex-direction: column;  
            padding: 0%; 
        }

        .navbar_ul li a{
            width: 100%;
        }
        
        .navbar_li_click{
            display: block;
        }

        .dropdownIcon {
            display:block; 
        }

        .myBeers_container {
            grid-template-columns: auto;    
        }
        
        .beer_small {
            grid-column: 1 / 2;
            min-height: 5em;
        }
        
        .beer_large {
            grid-column: 1 / 2;
            min-height: 5em;;
        }
        
        .beer_vertical {
            grid-column: 1 / 2;
            min-height: 5em;
        }
        
        .beer_horizontal {
            grid-column: 1 / 2;
            min-height: 5em;
        }
        
        .myBreweries_container{
            display: grid;
            grid-template-columns: auto;
        }

        .brewery_left{ 
            grid-column: 1 / 2;
            min-height: 5em;
        }
        
        .brewery_right{
            grid-column: 1 / 2;
            min-height: 5em;
        }
        
        .brewery_block_left{
            grid-column: 1 / 2;
            min-height: 8em;
        }
        
        .brewery_block_right{
            grid-column: 1 / 2;
            min-height: 8em;
        }
        
        .carousel{
            width: 100%;
        }

        .submenu{
            width: 100%;
        }

        .navbar_hide{
            display:none;
        }

        .navbar_ul li {
            margin-left: 5px;
            margin-right: auto;
            text-align: left;
        }

        .navbar_ul li:last-child{
            margin-left: 5px;
            margin-right: auto;
            text-align: left;
        }
    }


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
        /* https://coolors.co/03071e-370617-6a040f-9d0208-d00000-dc2f02-e85d04-f48c06-faa307-ffba08 */